html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// navbar
.navbar {
  line-height: 3px;
  font-size: 18px;
  margin-bottom: 0;
  background-color: black;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

.navbar img {
  height: 42px;
  width: auto;
  padding-top: 10px;
}

#seperator {
  border-left: black;
}

// navbar right
#hire-me {
  padding-top: 30px;
}


#navbar {
  border-top: 3px #5c7f76 solid;
}

#hover li:hover {
  background-color: #5c7f76;
  color: white;
}

#hover li > a:hover {
  color: white;
}

.dropdown-menu > li > a:hover {
  background-color: #5c7f76;
  color: white;
}

.container {
  margin: 0 !important;
}

// kanye navbar
#kanyenav {
  color: #4d0505;
  border-bottom: 3px #9e7e00 solid;
}

#kanyenav #hover li:hover {
  background-color: #9e7e00;
  color: white;
}

#kanyenav #hover li > a:hover {
  color: white;
}

.dropdown-menu>li>a:hover {
  background-color: #4d0505;
  color: white;
}

// homepage content
#home-container {
  padding: 0;
  background-color: #141414;
  width: 100%;
  height: 100vh;
  transition: 1s all;
}

hr {
  width:60%;
  height:1.5px;
  color: #5c7f76;
  border: 0;
  }

#home-container {
  font-family: 'Josefin Slab', serif;
  color: white;
}

.recent-project {
  height: 100vh;
  color: white;
  overflow: hidden;
  position: absolute;
  padding: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .35s ease-out;
  transform: translateZ(0);
  h2 {
    font-weight: 400;
    font-size: 38px;
    color: black;
  }
  p {
    font-weight: 400;
    font-size: 23px;
  }
}

.recent-project:hover {
  h2 {
    font-size: 45px;
    color: white;
  }
  p {
  font-size: 24px;
  }
  .text-overlay {
    background-color: rgba(0, 20, 15, 0.5);
    padding-top: 100px;
    height: inherit;
    color: white;
  }
}

.recent-project:hover .text-overlay {
  transform: translateY(0);
}

.recent-project::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}
.recent-project:hover::before {
    background: rgba(0, 0, 0, .5);
}

.project-image {
  display: block;
  width: 100%;
  height: 100%;
}

.text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  left: 0;
  padding: 20px;
  // padding-top: 100px;
  color: white;
  background-color: rgba(0, 20, 15, 0.5);
  transform: translateY(100%);
  transition: transform .35s ease-out;
  h2 {
    color: white;
  }
}

.divider-vertical {
  height: 230px;                   // any height
  border-left: 1px solid gray;     // right or left is the same
  float: left;                     // so BS grid doesn't break
  opacity: .3;
  margin-top: 35px;
}

// aboutmae
#aboutpage {
  padding: 150px 200px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  background-color: #dbe1e0;
  height: 657px;;
}

#aboutpage h1 {
  font-size: 37px;
  font-weight: bold;
}

#aboutpage p {
  font-size: 23px;
  font-weight: 400;
}
