<div id="aboutpage">
  <h1>what about mae?</h1>
  <div class="block_1" id="aboutline"></div> <hr />
  <p>My name is <b>Mae</b>gan Tomela Burke. I am a 26 year old wanderer from Providence, Rhode Island, USA. After more than a decade of varied employment (seriously, I've done it all: restaurants, non-profits, start-ups, retail, sales, fitness, law firms...) in a bunch of different cities and two degrees (Economics & French), I decided to test my sanity and embark on a journey to Barcelona, Spain for the summer and learn how to code -- in only two months. Now I will further test my patience and move to New York City to officially start my career as a developer. As I attempt to navigate my way through a nerdy concrete jungle of late nights and expletives, I plan on sharing my dope digital accomplishments with you.  
  </p>

</div>
