<div class="container-fluid" id="home-container" style="text-align: center;">
  <!-- <div class="container" id="jumbo-container" style="max-height: 220px; padding-left:45px; margin-left: 70px; !important">
  <div style="background-color:#5c7f76; color: white; border-style:solid; border-color: white; width: 1070px; height: 200px; padding-top:15px; !important" class="jumbotron">
    <div class="container">
      <h1 style="font-size: 75px !important">Welcome to<br>The Dope Factory.</h1>
    </div>
  </div>

</div> -->
  <a href="/flight5289">
    <article class="col-md-4 recent-project" id="blog-project">
      <img class="project-img" src="/assets/barcelonapic.jpg">
      <div class="text-overlay">
        <h2>flight5289</h2>
        <div></div><hr>
        <p>check out stories from my summer transformation from extraordinary chica to extraordinary web developer in Barcelona, Spain</p>
      </div>
    </article>
  </a>

  <a href="/sayye">
    <article class="col-md-4 recent-project" id="kanye-project">
      <img class="project-img" src="/assets/kanyepic.jpg">
      <div class="text-overlay">
        <h2>Say 'Ye?</h2>
        <div></div><hr>
        <p>let's face it: the G.O.A.T has punchlines for days -- peep my Kanye West punchline generator, complete with a RapGenius API search</p>
      </div>
    </article>
  </a>

  <a href="www.dameagua.com">
    <article class="col-md-4 recent-project" id="agua-project">
      <img class="project-img" src="/assets/waterpic.jpg">
      <div class="text-overlay">
        <h2>Dame Agua</h2>
        <div></div><hr>
        <p>climate change is the realest: you can help and get fatter pockets at the same damn time with my BCN water fountain locator</p>
      </div>
    </article>
  </a>

</div>
