<div class="container" id="home-container" style="text-align: center;">
  <div class="container" id="jumbo-container" style="max-height: 220px; padding-left:45px; margin-left: 70px; !important">
  <div style="background-color:#5c7f76; color: white; border-style:solid; border-color: white; width: 1070px; height: 200px; padding-top:15px; !important" class="jumbotron">
    <div class="container">
      <h1 style="font-size: 75px !important">Welcome to<br>The Dope Factory.</h1>
    </div>
  </div>

</div>

<div class="row" id="home-row">
  <div class="col-md-4" style="width: 30%" id="recent-project">
    <a href="/flight5289"><img src="/assets/barcelonapic.jpg"></a>
    <h2><a href="/flight5289">flight5289</a></h2>
    <p>check out stories from my summer transformation from extraordinary chica to extraordinary web developer in Barcelona, Spain</p>
  </div>
  <div class="divider-vertical"></div>
  <div class="col-md-4" style="width: 30%" id="recent-project">
    <a href="#"><img src="/assets/kanyepic.jpg"></a>
    <h2><a href="#">Say 'Ye?</a></h2>
    <p>let's face it: the G.O.A.T has punchlines for days -- peep my Kanye West punchline generator, complete with a RapGenius API search <i>*coming August 2015</i></p>
  </div>
  <div class="divider-vertical"></div>
  <div class="col-md-4" style="width: 30%" id="recent-project">
    <a href="#"><img src="/assets/waterpic.jpg"></a>
    <h2><a href="#">Dame Agua</a></h2>
    <p>climate change is the realest: you can help and get fatter pockets at the same damn time with my BCN water fountain locator <i>*coming August 2015</i></p>
  </div>
</div>
<!--
<h1>recent projects</h1>
<div class="block_1"></div> <hr /> -->
</div>
