<div class="container" id="home-container">
  <div class="container" id="jumbo-container">
  <div style="background-color:#658b81; color: white !important" class="jumbotron">
    <div class="container">
      <h1 style="font-size: 75px !important">Welcome to<br>The Dope Factory.</h1>
    </div>
  </div>
</div>
  <div class="block_1"></div> <hr />

  <div id="homepage-content">
    <p><a href="/blogs">Check out my journey to becoming a Full Stack Web Developer!</a></p>
    <p><a href="/phrases">Check out my latest project, <b>Say Ye</b>!</a></p>
    fnehfkwhfjkwfkjwfjwkfnwkfnwrkj

  </div>
</div>
