<div class="container-fluid" id="home-container" style="text-align: center;">

  <a href="/flight5289">
    <article class="col-md-4 recent-project" id="blog-project">
      <img class="project-img" src="/assets/barcelonapic.jpg">
      <div class="text-overlay">
        <h2>flight5289</h2>
        <div></div><hr>
        <p>check out my summer transformation from extraordinary chica to extraordinary web developer in Barcelona, Spain</p>
      </div>
    </article>
  </a>

  <a href="/sayye">
    <article class="col-md-4 recent-project" id="kanye-project">
      <img class="project-img" src="/assets/kanyepic.jpg">
      <div class="text-overlay">
        <h2>Say 'Ye?</h2>
        <div></div><hr>
        <p>the G.O.A.T has punchlines for days -- peep my Kanye West punchline generator, complete with a RapGenius API search</p>
      </div>
    </article>
  </a>

  <a href="http://www.dameagua.com">
    <article class="col-md-4 recent-project" id="agua-project">
      <img class="project-img" src="/assets/waterpic.jpg">
      <div class="text-overlay">
        <h2>Dame Agua</h2>
        <div></div><hr>
        <p>climate change is the realest: you can help and get fatter pockets at the same damn time with my BCN water fountain locator</p>
      </div>
    </article>
  </a>

</div>
