<div>
  <div class="navbar navbar-default navbar-fixed-bottom" id="navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">the dope factory.</a>
    </div>

    <ul class="nav navbar-nav nav-tabs list-unstyled navbar-left" role="tablist" style="border: none; color: #000085">
      <li><a href="/flight5289">flight5289</a></li>
      <li id="about"><a href="/aboutmae">about mae</a></li>
      <li><a href="/sayye">Say 'Ye?</a></li>
      <li><a href="http://www.dameagua.com">Dame Agua</a></li>
    </ul>

    <div class="nav navbar-nav navbar-right">
      <div id="icons">
        <a href="https://www.linkedin.com/in/maeganburke" target="_blank"><img src="/assets/linkedin.png"></a>
        <a href="https://github.com/maeganburke" target="_blank"><img src="/assets/Github.png"></a>
        <a href="https://twitter.com/maebo" target="_blank"><img src="/assets/twitter.png"></a>
        <a href="https://instagram.com/maedinamerica/" target="_blank"><img src="/assets/Instagram.png"></a>
      </div>
    </div>
  </div>
</div>
